<header>
    <h2><a href="/">Library</a></h2>
    <div>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">New Authors</a></li>
        </ul>
    </div>
</header>